<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzw.mapper.SgArticleDzMapper">

    <insert id="adddz">
        insert into sg_article_dz values(#{userId},#{articleId})
    </insert>

    <delete id="deldz" >
        delete from sg_article_dz where user_id = #{userId} and article_id = #{articleId}
    </delete>
</mapper>
